.profile {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid black;
  overflow: hidden;
 }

.profile .description {
  padding: 20px;
}

.profile .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: hsl(210, 3%, 25%);
  margin: 0 auto 10px;
}

.profile .name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile .tag,
.profile .location {
  color: gray;
  font-size: 14px;
}

.profile .stats {
  display: flex;
  justify-content: space-between;
  background-color: #e6e9ec;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
 
 }

.profile .stats li {
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  border-right: 1px solid #ccc;
  width: calc((100% - 24px)/3);
}

.profile .stats li:last-child {
  border-right: none;
}

.profile .stats .label {
  font-size: 12px;
  color: gray;
}

.profile .stats .quantity {
  font-size: 16px;
  font-weight: bold;
}
