.transactionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
   text-align: center;    
  }
  
  .transactionTable thead {
    background-color: rgb(32, 30, 30);
    color: white;
  }
  
  .transactionTable th {
    text-align: center;
    padding: 10px;
  }
  
  .transactionTable td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #2b2a2a;

  }
  
 
  .transactionTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .transactionTable tbody tr:hover {
    background-color: #ddd;
  }
  